In [78]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [79]:
weather_train = pd.read_csv("weather_train.csv")

In [80]:
weather_train.shape

(139773, 9)

In [81]:
365*24*16-139773

387

全ての場所に対して、366×24時間分の天候データが存在するわけではない。387（365*24*16-139773）時刻分の天候データは存在しない。
学習データを作成するときに、学習期間にない時刻におけるメーターの測定値を予測する時は、その時刻の他のビルにおける天候データが重要になる。要するに天候データがそのビルの時系列情報を含んでいる唯一の情報源なので、
それをnanで用意するということはしたくない。
387時点のデータは何かしたの手法で**水増し**をしたい。

In [82]:
weather_test = pd.read_csv("weather_test.csv")
weather_data = pd.concat([weather_train, weather_test], axis=0).reset_index(drop=True)

In [83]:
weather_test

,site_id,timestamp,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
0,0,2017-01-01 00:00:00,17.8,4.0,11.7,NaN,1021.4,100.0,3.6
1,0,2017-01-01 01:00:00,17.8,2.0,12.8,0.0,1022.0,130.0,3.1
2,0,2017-01-01 02:00:00,16.1,0.0,12.8,0.0,1021.9,140.0,3.1
3,0,2017-01-01 03:00:00,17.2,0.0,13.3,0.0,1022.2,140.0,3.1
4,0,2017-01-01 04:00:00,16.7,2.0,13.3,0.0,1022.3,130.0,2.6
5,0,2017-01-01 05:00:00,15.6,2.0,12.8,0.0,1022.1,130.0,2.1
6,0,2017-01-01 06:00:00,15.0,0.0,12.8,0.0,1021.7,150.0,1.5
7,0,2017-01-01 07:00:00,15.0,2.0,13.3,0.0,1021.6,0.0,0.0
8,0,2017-01-01 08:00:00,13.3,0.0,12.2,0.0,1021.4,0.0,0.0
9,0,2017-01-01 09:00:00,12.2,4.0,11.7,0.0,1021.4,0.0,0.0
10,0,2017-01-01 10:00:00,13.9,2.0,12.8,0.0,1021.0,80.0,1.5
11,0,2017-01-01 11:00:00,13.9,0.0,12.8,0.0,1021.0,0.0,0.0
12,0,2017-01-01 12:00:00,12.2,2.0,11.1,0.0,1021.6,110.0,1.5
13,0,2017-01-01 13:00:00,13.3,2.0,12.2,0.0,1021.9,150.0,3.1
14,0,2017-01-01 14:00:00,17.8,4.0,15.0,0.0,1022.5,160.0,2.6
15,0,2017-01-01 15:00:00,22.8,4.0,15.6,0.0,1023.0,150.0,4.1
16,0,2017-01-01 16:00:00,23.9,NaN,16.1,0.0,1023.2,150.0,5.1
17,0,2017-01-01 17:00:00,25.6,NaN,16.7,0.0,1022.6,170.0,4.6
18,0,2017-01-01 18:00:00,25.6,6.0,16.1,0.0,1021.6,150.0,5.1
19,0,2017-01-01 19:00:00,26.7,4.0,15.6,0.0,1020.5,160.0,4.6
20,0,2017-01-01 20:00:00,27.2,4.0,16.1,0.0,1020.1,150.0,4.6
21,0,2017-01-01 21:00:00,26.7,4.0,16.1,0.0,1020.1,170.0,3.6
22,0,2017-01-01 22:00:00,26.1,4.0,16.1,0.0,1020.4,170.0,2.6
23,0,2017-01-01 23:00:00,23.3,4.0,15.6,0.0,1020.6,160.0,1.5
24,0,2017-01-02 00:00:00,21.7,4.0,17.2,0.0,1021.1,110.0,3.6
25,0,2017-01-02 01:00:00,21.1,4.0,17.2,0.0,1021.8,110.0,3.1
26,0,2017-01-02 02:00:00,20.6,2.0,17.2,0.0,1022.2,120.0,3.6
27,0,2017-01-02 03:00:00,20.6,0.0,17.2,0.0,1022.4,120.0,3.6
28,0,2017-01-02 04:00:00,19.4,0.0,17.2,0.0,1022.6,130.0,2.6
29,0,2017-01-02 05:00:00,18.9,0.0,17.2,0.0,1022.5,120.0,2.1
...,...,...,...,...,...,...,...,...,...
277213,15,2018-12-30 18:00:00,1.1,NaN,-2.2,NaN,1020.0,210.0,4.6
277214,15,2018-12-30 19:00:00,1.1,NaN,-3.3,NaN,1019.9,240.0,4.1
277215,15,2018-12-30 20:00:00,1.1,NaN,-3.3,NaN,1020.5,220.0,4.1
277216,15,2018-12-30 21:00:00,1.1,NaN,-3.3,NaN,1021.2,220.0,2.1
277217,15,2018-12-30 22:00:00,0.6,NaN,-3.3,NaN,1021.6,160.0,2.1
277218,15,2018-12-30 23:00:00,0.0,NaN,-2.8,NaN,1022.3,150.0,3.1
277219,15,2018-12-31 00:00:00,-1.1,4.0,-3.3,NaN,1023.0,150.0,3.1
277220,15,2018-12-31 01:00:00,-1.1,2.0,-3.3,NaN,1022.6,170.0,3.6
277221,15,2018-12-31 02:00:00,-1.7,0.0,-3.9,NaN,1022.7,160.0,3.1
277222,15,2018-12-31 03:00:00,-2.2,0.0,-4.4,NaN,1022.9,160.0,3.1
277223,15,2018-12-31 04:00:00,-1.7,0.0,-3.9,NaN,1022.6,140.0,2.1
277224,15,2018-12-31 05:00:00,-1.7,0.0,-3.9,NaN,1022.8,140.0,2.6
277225,15,2018-12-31 06:00:00,-2.2,0.0,-4.4,NaN,1023.1,150.0,3.1
277226,15,2018-12-31 07:00:00,-2.2,0.0,-3.9,NaN,1023.6,140.0,2.6
277227,15,2018-12-31 08:00:00,-3.9,0.0,-5.6,NaN,1024.5,120.0,1.5
277228,15,2018-12-31 09:00:00,-3.3,0.0,-5.0,NaN,1023.9,130.0,2.1
277229,15,2018-12-31 10:00:00,-4.4,0.0,-5.6,NaN,1023.4,90.0,2.1
277230,15,2018-12-31 11:00:00,-4.4,0.0,-5.6,NaN,1023.9,90.0,2.6
277231,15,2018-12-31 12:00:00,-3.9,0.0,-5.0,NaN,1024.7,90.0,2.6
277232,15,2018-12-31 13:00:00,-2.8,0.0,-3.3,NaN,1024.8,130.0,3.1
277233,15,2018-12-31 14:00:00,0.0,0.0,-1.7,NaN,1025.2,150.0,3.6
277234,15,2018-12-31 15:00:00,1.1,0.0,-1.7,NaN,1024.1,150.0,3.6
277235,15,2018-12-31 16:00:00,1.7,0.0,-1.1,NaN,1022.9,150.0,3.6
277236,15,2018-12-31 17:00:00,2.2,NaN,0.0,NaN,1021.6,160.0,6.2
277237,15,2018-12-31 18:00:00,2.8,NaN,0.6,NaN,1019.9,160.0,6.7
277238,15,2018-12-31 19:00:00,3.3,NaN,1.7,NaN,1018.3,150.0,7.7
277239,15,2018-12-31 20:00:00,2.8,NaN,1.1,NaN,1017.8,140.0,5.1
277240,15,2018-12-31 21:00:00,2.8,NaN,1.7,-1.0,1017.2,140.0,6.2
277241,15,2018-12-31 22:00:00,2.8,NaN,2.2,8.0,1016.1,140.0,5.1
277242,15,2018-12-31 23:00:00,3.3,NaN,2.2,20.0,1014.7,140.0,5.1

In [34]:
temp_data = pd.DataFrame({"timestamp": pd.date_range('2016-01-01 00:00:00', periods=(366+730)*24, freq='h')}).astype("datetime64")
weather_data["timestamp"] = weather_data["timestamp"].astype("datetime64")
for i in range(4):
    temp_data = pd.concat([temp_data, temp_data],axis=0)
temp_data = temp_data.sort_values("timestamp").reset_index(drop=True)

In [35]:
one_array = np.ones((26304,1))

In [51]:
id_array = one_array * np.arange(16)
id_array_sort = np.sort(id_array.reshape(420864,))
id_array_sort = pd.DataFrame({"site_id": id_array_sort}).astype("int")
temp_data_id = pd.concat([id_array_sort, temp_data], axis=1)

In [52]:
temp_data_id["timestamp"]

0        2016-01-01 00:00:00
1        2016-01-01 00:00:00
2        2016-01-01 00:00:00
3        2016-01-01 00:00:00
4        2016-01-01 00:00:00
                 ...
420859   2018-12-31 23:00:00
420860   2018-12-31 23:00:00
420861   2018-12-31 23:00:00
420862   2018-12-31 23:00:00
420863   2018-12-31 23:00:00
Name: timestamp, Length: 420864, dtype: datetime64[ns]

In [53]:
weather_data["timestamp"]

0        2016-01-01 00:00:00
1        2016-01-01 01:00:00
2        2016-01-01 02:00:00
3        2016-01-01 03:00:00
4        2016-01-01 04:00:00
                 ...
417011   2018-12-31 19:00:00
417012   2018-12-31 20:00:00
417013   2018-12-31 21:00:00
417014   2018-12-31 22:00:00
417015   2018-12-31 23:00:00
Name: timestamp, Length: 417016, dtype: datetime64[ns]

In [68]:
weather_augment = pd.merge(temp_data_id, weather_data, on=["timestamp", "site_id"], how="left")

16×(1096)×24(16種類×3年分×24時間)=420864

In [69]:
temp_data_id.shape

(420864, 2)

In [70]:
weather_data.shape

(417016, 9)

In [71]:
weather_augment.shape

(420864, 9)

In [72]:
weather_augment.isnull().sum()

site_id                    0
timestamp                  0
air_temperature         2016
cloud_coverage        222864
dew_temperature         2064
precip_depth_1_hr     148704
sea_level_pressure     32688
wind_direction         20784
wind_speed              2384
dtype: int64

欠損の割合が異なるので埋めるのにしても同一の方法で埋めるのはよくなさそう。

埋め方は、特徴量同士の相関よりも時系列としての意味合いが強いと考えられるので、その特徴量の過去の値を考慮した埋め方にする。時系列モデルにすると手間がかかるので、nanの出現する前の最後の値で欠損を埋めることにする。

In [73]:
weather_augment = weather_augment.fillna(method="ffill")
weather_augment = weather_augment.fillna(method="backfill")

In [74]:
weather_augment.isnull().sum()

site_id               0
timestamp             0
air_temperature       0
cloud_coverage        0
dew_temperature       0
precip_depth_1_hr     0
sea_level_pressure    0
wind_direction        0
wind_speed            0
dtype: int64

In [75]:
weather_augment.to_csv("weather_augment.csv")

In [76]:
weather_augment.shape

(420864, 9)

In [77]:
weather_augment.groupby("site_id")["timestamp"].nunique()

site_id
0     1644
1     1644
2     1644
3     1644
4     1644
5     1644
6     1644
7     1644
8     1644
9     1644
10    1644
11    1644
12    1644
13    1644
14    1644
15    1644
Name: timestamp, dtype: int64